.b-switcher {
	p {
		margin-bottom: 16px;
	}

	p:last-child {
		margin-bottom: 0 !important;
	}

	.__nav {
		scrollbar-width: none;
		-ms-overflow-style: none;
	}

	.__nav::-webkit-scrollbar {
		display: none;
	}

	.__nav.can-scroll-right {
		-webkit-mask-image: linear-gradient(to right, black, black calc(100% - 48px), transparent);
		mask-image: linear-gradient(to right, black, black calc(100% - 48px), transparent);
	}

	@media (min-width: 1024px) {
		.__nav.can-scroll-left {
			-webkit-mask-image: linear-gradient(to right, transparent, black 48px, black);
			mask-image: linear-gradient(to right, transparent, black 48px, black);
		}

		.__nav.can-scroll-left.can-scroll-right {
			-webkit-mask-image: linear-gradient(to right, transparent, black 48px, black calc(100% - 48px), transparent);
			mask-image: linear-gradient(to right, transparent, black 48px, black calc(100% - 48px), transparent);
		}
	}
}